<% include ../partials/header %>

	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h1>Edit <%= bear.name %></h1>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-5">
			<form action="/collections/<%= collection_id %>/bears/<%= bear._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control" type="text" name="bear[name]" value="<%= bear.name %>">
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input class="form-control" type="text" name="bear[image]" value="<%= bear.image %>">
				</div>
				<div class="form-group">
					<label for="type">Type</label>
					<input class="form-control" type="text" name="bear[type]" value="<%= bear.type %>">
				</div>
				<div class="form-group">
					<label for="material">Material</label>
					<input class="form-control" type="text" name="bear[material]" value="<%= bear.material %>">
				</div>
				<div class="form-group">
					<label for="price">Price</label>
					<input class="form-control" type="number" name="bear[price]" value="<%= bear.price %>" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<input class="form-control" type="text" name="bear[description]" value="<%= bear.description %>">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-info btn-block">Submit!</button>
				</div>
			</form>
			<a class="btn btn-sm btn-danger" href="/collections/<%= collection_id %>/bears/<%= bear._id %>">Go Back</a>
		</div>
	</div>
    

<% include ../partials/footer %>