<% include ../partials/header %>

        <div class="col-md-9">
			<div class="card mb-2">
				  <img src="<%= bear.image %>" class="card-img-top" alt="<%= bear.name %>">
				  <div class="card-body">
					  <p class="float-right">$<%= bear.price %></p>
					  <h4 class="card-title"><%= bear.name %></h5>
					  <p>Type: <strong><%= bear.type %></strong></p>
					  <p>Material: <strong><%= bear.material %></strong></p>
					  <p>Adopted from: <strong><%= bear.where %></strong></p>
					  <p>Adopted on: <strong><%= bear.when %></strong></p>
					  <p>Birthday: <strong><%= bear.birthday %></strong></p>
					  <p>Made by: <strong><%= bear.artist %></strong></p>
					  <hr>
					  <p class="card-text"><%= bear.description %></p>
					  <% if(currentUser && bear.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-sm btn-warning" href="/collections/<%= collection._id %>/bears/<%= bear._id %>/edit">Edit</a>
                        <form class="delete-form" action="/collections/<%= collection._id %>/bears/<%= bear._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                      <% } %>
				  </div>
				</div>
            <div class="card">
				<div class="card-body">
					
					<div class="text-right">
						<a class="btn btn-info" href="/collections/<%= collection._id %>/bears/<%= bear._id %>/bcomments/new">Leave a Comment</a>
					</div>
					<hr>
					<div class="row">
						<% bear.bcomments.forEach(function(bcomment){ %>

						  <div class="col-md-12">
							  <strong><%= bcomment.author.username %></strong>
							  <span class="float-right"><%= moment(bcomment.createdAt).fromNow() %></span>
							  <p>
								<%= bcomment.text %>
							  </p>
							  <% if(currentUser && bcomment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									<a class="btn btn-sm btn-warning" 
									  href="/collections/<%= collection._id %>/bears/<%= bear._id %>/bcomments/<%= bcomment._id%>/edit">
										Edit
									</a>
								 <form class="delete-form" action="/collections/<%= collection._id %>/bears/<%= bear._id %>/bcomments/<%= bcomment._id%>?_method=DELETE" method="POST">
										<input type="submit" class="btn btn-sm btn-danger" value="Delete">
								 </form>
							  <% } %>
							  <hr>
						  </div>
						<% }) %>
					</div>


				</div>
			</div>
            <a class="btn btn-primary mt-3" id="backbutton" href="/collections/<%= collection._id %>">Go back</a>
        </div>
    </div>

<% include ../partials/footer %>