<% include ../partials/header %>

	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h1>Edit <%= collection.name %></h1>
		</div>
        <div class="col-xs-12 col-md-6 col-lg-5">
            <form action="/collections/<%= collection._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="collection[name]" value="<%= collection.name %>">
                </div>
				<div class="form-group">
                    <label for="image">Image</label><br>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="collection[description]" value="<%= collection.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-info btn-block">Submit!</button>
                </div>
            </form>
            <a class="btn btn-sm btn-danger" href="/collections/<%= collection._id %>">Go Back</a>
        </div>

    </div>

<% include ../partials/footer %>