<% include ../partials/header %>


    <div class="row">
        <div class="col-md-9">
			<div class="card mb-2">
				  <div class="card-body">
					<h5 class="card-title"><%= collection.name %></h5>
					<p class="card-text"><%= collection.description %></p>
					<p>
                        <em>Submitted By <a href="/users/<%= collection.author.id %>"><%= collection.author.username %></a></em>
                    </p>
					<% if(currentUser && collection.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-warning" href="/collections/<%= collection._id %>/edit">Edit</a>
                        <form class="delete-form" action="/collections/<%= collection._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
				  </div>
			</div>
			<div class="row text-center">

					<% collection.bears.forEach(function(bear){ %>

					<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
						<div class="card">
						  <img src="<%= bear.image %>" class="card-img-top" alt="<%= bear.name %>">
						  <div class="card-body">
							<h5 class="card-title"><%= bear.name %></h5>
							<a href="/collections/<%= collection._id %>/bears/<%= bear._id %>" class="btn btn-primary">More Info</a>
						  </div>
						</div>
					</div>
					<% }) %>
					<% if(currentUser && collection.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
						<div class="col-md-12">
							<p>
								<a class="btn btn-info btn-lg" href="/collections/<%= collection._id %>/bears/new">Add a new bear to your collection!</a>
							</p>
						</div>
					<% } %>

			</div>
			<div class="card">
				<div class="card-body">
					<div class="text-right">
						<a class="btn btn-info" href="/collections/<%= collection._id %>/comments/new">Leave a Comment</a>
					</div>
					<hr>
					<% collection.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<strong><%= comment.author.username %></strong>
								<span class="float-right">time filler</span>
								<p>
									<%= comment.text %>
								</p>
								<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									<a class="btn btn-xs btn-warning" 
									href="/collections/<%= collection._id %>/comments/<%= comment._id%>/edit">
										Edit
									</a>
									<form class="delete-form" action="/collections/<%= collection._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
										<input type="submit" class="btn btn-xs btn-danger" value="Delete">
									</form>
								<% } %>
								<hr>
							</div>
						</div>

					<% }) %>
				</div>
			</div>

			<a class="btn btn-primary mt-3" id="backbutton" href="/collections">Go back</a>
		</div>

<% include ../partials/footer %>